/* Basis Styling til hjemmesiden */



header {
  background: #10784e; /* Eksempel på baggrundsfarve */
  padding: 10px 20px; /* Padding rundt om headeren */
  width: 100%;
}

nav ul {
  list-style: none; /* Fjerner punkttegn */
  padding: 0; /* Nulstiller padding */
  margin: 0; /* Nulstiller margin */
  display: flex; /* Anvender flexbox for at arrangere elementerne horisontalt */
  justify-content: space-between; /* Fordeler elementerne jævnt */
  padding-left: 350px;
}

nav li {
  margin: 0 10px; /* Tilføjer en lille margin mellem hver listeelement */
}

nav a {
  text-decoration: none; /* Fjerner understregning af links */
  color: #333; /* Farve på tekst */
  font-weight: bold; /* Gør teksten fed */
  background-color: #6f7a3f; /* Baggrundsfarve for hver linkkasse */
  padding: 10px 15px; /* Tilføjer padding for at gøre linket større og mere knaplignende */
  border-radius: 5px; /* Giver kasserne afrundede hjørner */
  transition: background-color 0.3s; /* Gør farveskift ved hover glattere */
}

nav a:hover {
  color: #0056b3; /* Farve på tekst ved hover */
}

footer {
  background-color: #10784e;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  padding: 30px;
  margin-top: auto; /* Automatisk margin øverst skubber footer ned */
  }
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(rgba(52, 216, 151, 0.8),rgba(7, 26, 5, 0.8)), url(assets/wp3557588-forest-wallpaper-hd-1080p.jpg);
  height: 100vh;
  display: flex; /* Anvender flexbox */
  flex-direction: column; /* Orienterer flex-items i en vertikal kolonne */
  justify-content: space-between; /* Fordeler indholdet med mellemrum */
}


.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/*.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
}
*/
h1{
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 30px;
}

p{
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
}

label{
  font-size: 20px;
  font-weight: bold;
}

/*input{
  padding: 5px;
  border: none;
  border-bottom: 1px solid rgb(137, 137, 137);
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
*/

.button {
  background-color: #4CAF50; /* Grøn */
  color: white;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}


input, select {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-btn{
  border: none;
  background-color: green;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}

.logout-btn{
  border: none;
  background-color: rgb(255, 71, 71);
  color: #fff;
  height: 50px;
  width: 100px;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
}

